{% extends "layout.html" %}

{% block body %}
    <form>
        <!--<select name="item">
            <option selected disabled value="tinda">TINDA</option>
            {% for tind in tinda %}
                <option id="item"value="{{ tind }}">{{ tind }}</option>           
            {% endfor %}
        </select> -->
        <ul>
        {% for tind in tinda %}
            <li><input type="checkbox" value="{{ tind }}">{{ tind }}</input></li>
        {% endfor %}
        </ul>
        <button style="top: 50%; left: 50%; position: absolute; transform: translate(-50%,-50%); text-align: center;" id="button">SUBMIT</button>
    </form>
    <h3>
        <ul id="items">

        </ul>
    </h3>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('button').onclick = () => {
                const task = document.querySelector('#item').value;
                const li = document.createElement('li');
                li.innerHTML = task;
                document.querySelector('#items').append(li);
            }
        })
    </script>

{% endblock %}